<header class="font-sans">
    <!-- barra de navegación -->
    <nav class="relative flex flex-wrap items-center justify-between px-2 py-3 bg-negro mb-0 border-b-2 border-white">
        
      <!-- Contendor principal -->
        <div class="container px-4 mx-auto flex flex-wrap items-center justify-between">
          
          <div class="w-full relative flex justify-between lg:w-auto px-4 lg:static lg:block lg:justify-start">
            
            <!-- Nombre y logo del sitio -->
            <div class="flex justify-between items-center gap-[2vw] lg:mx-auto">
              <a class="text-sm font-comic leading-relaxed inline-block mr-4 py-2 whitespace-nowrap uppercase text-turquesa hover:text-white" href="home">
                HOME
              </a>
            </div>
            
            <!-- Botón menu desplegable responsive -->
            <button class="text-blanco cursor-pointer text-xl leading-none px-3 py-1 border border-solid border-transparent rounded bg-transparent block lg:hidden outline-none focus:outline-none" type="button" (click)="mostrarMenu()">
              <!-- Icono hamburguesa -->
              <fa-icon [icon]="['fas', 'bars']" ></fa-icon>
            </button>

          </div>

          <div [ngClass]="{'hidden': !estadoMenu, 'flex': estadoMenu}" class="lg:flex lg:flex-grow items-center">

            <ul class="flex flex-col lg:flex-row list-none ml-auto pt-4 lg:pt-0">

                    <li class="nav-item">
                      <a class="px-3 py-2 flex items-center text-xs uppercase leading-snug text-fucsia hover:text-blanco" href="AltaVeterinario">
                        <span class="ml-2 font-comic">Alta Veterinarios</span>
                      </a>
                    </li>
                    <li class="nav-item">
                      <a class="px-3 py-2 flex items-center text-xs uppercase leading-snug text-fucsia hover:text-blanco" href="login">
                        <span class="ml-2 font-comic">Login</span>
                      </a>
                    </li>
                    <li class="nav-item" *ngIf="auth.getUser()">
                      <button class="px-3 py-2 flex items-center text-xs uppercase leading-snug text-fucsia hover:text-blanco" (click)="logout();">
                        <span class="ml-2 font-comic">Salir</span>
                      </button>
                    </li>
            </ul>

          </div>

        </div>

      </nav>
</header>