<div id="contenedor principal" 
        class="lg:h-full min-h-screen">

    <div class="mt-auto items-center justify-center w-full h-full gap-20">
        <div class="mt-auto items-center content-center text-center">
            <div class="mt-10">

                <h1 class="mt-auto pb-10 text-center uppercase text-2xl text-white">ACTORES</h1>
            
            </div>

            <div class="md:flex lg:gap-5 h-full px-6 items-center content-center text-center mt-auto mx-auto">
                
                <div id="col1" class="items-center content-center lg:w-1/3 pb-4 h-[500px] overflow-y-scroll">
                    <app-lista-veterinarios (seleccion)="seleccion_veterinario( $event );"></app-lista-veterinarios>
                </div>

                <div  id="col2" class="items-center lg:w-2/3 pb-4 h-[500px] overflow-y-scroll">

                    <div class="w-full flex px-auto justify-evenly gap-10">

                        <app-detalle-veterinario [veterinario_seleccionado]="this.veterinario_seleccionado"></app-detalle-veterinario>

                        <app-detalle-pais [veterinario_seleccionado]="this.veterinario_seleccionado"></app-detalle-pais>
                    
                    </div>

                </div>
                
            </div>
            
        </div>
    </div>

</div>

<div></div>
